/* HEADER */

.header-container {
  height: 969px;
  background-color: #2B303A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-info {
  height: 100px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  border-radius: 5px;
}

.header-info > img {
  height: 1250px;
  width: 85%;
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.arrow {
  position: absolute;
  top: 440%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -.4s;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@-moz-keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@-o-keyframes  scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* NAVBAR */

.navbar-container {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 60px;
  background-color: #1f232b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 5px solid #82FF9E;
}

.navbar-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 700px;
}

.navbar-info > h1 {
  margin: 0;
  color: white;
}

/* ABOUT */

.about-container {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 99%;
  padding-top: 65px;
  /* background-color: white; */
}

.about-info > h1 {
  margin: 0;
  margin-bottom: 75px;
  color: #1f232b;
  font-size: 50px;
}

.about-me {
  display: flex;
  justify-content: center;
  /* height: fit-content; */
  /* width: 1500px; */
  margin-bottom: 30px;
}

.about-me_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 70%;
  box-shadow: 15px 10px 18px #888888;
  border-radius: 20px;
}

.about-me_photo {
  width: 600px;
  height: 639px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/me3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.about-me_info {
  width: 935px;
  height: 639px;
  background-color: #1f232b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  color: #F3E8EE;
  border-left: 3px solid #82FF9E;
}

.about-me_info h1 {
  margin: 0;
  margin-top: 20px;
  margin-left: 15px;
}

.about-me_info > p {
  margin: 0;
  margin-top: 15px;
  margin-left: 15px;
  width: 95%;
  font-size: 20px;
}

.button-container {
  margin-left: 15px;
  margin-top: 28px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.download-button, .contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: white;
  /* font-weight: 600; */
}

button > svg {
  margin-right: 7px;
}

.download-button > svg {
  margin-bottom: 1px;
}

.download-button{
  width: 215px;
  background-color: #1B998B;
  font-family: 'Epilogue', sans-serif;
  transition: .3s;

}

.download-button:hover {
  background-color: #1cad9c;
  transition: .3s;
}

.contact-button {
  width: 170px;
  background-color: #4C8577;
  font-family: 'Epilogue', sans-serif;
  transition: .3s;
}

.contact-button:hover {
  background-color: #5da08f;
  transition: .3s;
}

@media screen and (max-width: 1111px) {
  .about-me_container {
    flex-direction: column;
  }

  .about-me_photo {
    width: 600px;
    background-color: #1f232b;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    /* border-left: 3px solid #82FF9E; */
    border-bottom: 3px solid #82FF9E;
    background-size: cover;
    top: 5px;
  }

  .about-me_info {
    height: fit-content;
    width: 600px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border: none;
  }

  .about-me_info h1 {
    margin: 0;
    margin-top: 20px;
    margin-left: 43px;
  }

  .about-me_info > p {
    margin: 0;
    margin-top: 15px;
    margin-left: 43px;
    width: 85%;
    font-size: 20px;
  }

  .button-container {
    margin-left: 43px;
    margin-bottom: 30px;
    width: 420px;
  }

  .download-button{
    width: 220px;
    background-color: #1B998B;
    font-family: 'Epilogue', sans-serif;
    transition: .3s;

  }

  .contact-button {
    width: 180px;
    background-color: #4C8577;
    font-family: 'Epilogue', sans-serif;
    transition: .3s;
  }

}

.about-tab_container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 420px);
  justify-content: center;
  column-gap: 15px;
  row-gap: 15px;
  margin-bottom: 130px;
  margin-top: 80px;
}

@media screen and (max-width: 1790px) {
  .about-tab_container {
    grid-template-columns: repeat(2, 530px);
    justify-content: center;
    margin-top: 0px;
  }

  .about-me {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1111px) {
  .about-tab_container {
    grid-template-columns: repeat(1, 600px);
    justify-content: center;
  }
}

.about-tab {
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  background-color: #1f232b;
  box-shadow: 15px 10px 18px #888888;
}

.about-tab_photo {
  display: flex;
  justify-content: flex-start;
  height: 50%;
  width: 100%;
  position: relative;
  background-image: linear-gradient(210deg, #82FF9E, #2B303A);
  clip-path: polygon(0 0,100% 0, 60% 0%, 0% 100%);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.about-tab_photo > img {
  opacity: .3;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.computer-img {
  position: relative;
  height: 100%;
  width: 70%;
}

.coffee-img {
  height: 100%;
  width: 64%;
}

.code-img {
  height: 100%;
  width: 64%;
}

.about-tab_content {
  height: 50%;
  position: relative;
  top: -130px;
  width: 92%;
  color: white;
}

.about-tab_content > svg {
  margin: 0;
  height: 85px;
  width: 85px;
  margin-bottom: 10px;
}

.about-tab_content > h2 {
  margin: 0;
  margin-bottom: 20px;
}

.about-tab_content > h4 {
  margin: 0;
  font-size: 19px;
  margin-right: 0;
}

/* SKILLS */

.skills-container {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.skills-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 99%;
}

.skills-info > h1 {
  margin: 0;
  margin-bottom: 22px;
  margin-top: 110px;
  color: #1f232b;
  font-size: 50px;
}

.skills-tab_container {
  height: 650px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 255px);
  column-gap: 15px;
  row-gap: 15px;
}

.skills-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.skills-tab > img {
  height: 100px;
  width: 100px;
  margin: 0;
  margin-bottom: 11px;
}

.skills-tab > h3 {
  margin: 0;
  color: #1f232b;
}

@media screen and (max-width: 1525px) {
  .skills-tab_container {
    grid-template-columns: repeat(4, 295px);
  }

  .skills-info > h1 {
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 1111px) {
  .skills-tab_container {
    grid-template-columns: repeat(3, 295px);

  }
}

@media screen and (max-width: 800px) {
  .skills-tab_container {
    grid-template-columns: repeat(2, 295px);
    row-gap: 30px;
  }

  .skills-info > h1 {
    margin-bottom: 100px;
    margin-top: 200px;
  }
}
